<!DOCTYPE html>
<html
    lang="es"
    xmlns:th="http://www.thymeleaf.org"
    xlmns:sec="http://www.thymeleaf.org/extras/spring-security"
    >
    <head>
        <title>Lista de Personas</title>
        <meta charset="UTF-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
            <link rel="stylesheet" href="/style.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">


            
        <!--            <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    </head>
    <nav class="fixed-top">
       
        <div class="brand"><a href="/"><img src="/1574430140clbe3-fincasdellitorallogo.png" alt=""></a></div>
            
        <div class="containera" >
            <header class="d-flex justify-content-center py-3">
              <ul class="nav nav-pills" style="flex-grow: 1; justify-content: center;" >
    
               
                <li class="nav-item"><a th:href="@{/}" class="nav-link">Crear</a></li>
                <li class="nav-item"><a th:href="@{/mostrar-datos}" class="nav-link">Honorarios</a></li>
                <li class="nav-item"><a th:href="@{/contratos}" class="nav-link">Lista de contratos</a></li>
                
                
            </ul>
                <div class="dropdown" style="align-self: flex-end; margin-right: 7px;">
                    <a style="background-color: #9c0202 " class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-square" style="font-size: 25px; color: white"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <div class="dropdown-header text-center font-weight-bold" style="background-color: transparent; cursor: default;">
                            <strong style="font-size: 15px;" class="capitalizar" th:text="'Hola, ' + ${session.usuariosession.nombreUsuario}"></strong>
                        </div>
                      <li><a class="dropdown-item" href="/logout">Cerrar sesión</a></li>
                      <li><a class="dropdown-item" th:href="@{/modificarPerfil/__${session.usuariosession.idUsuario}__}">Modificar cuenta</a></li>
                        
                    </ul>
                  </div>
            
            </header>
          </div>
        </nav>
    <body class="body-index">
       
        <input type="text" id="searchInput" placeholder="Buscar..." onkeyup="searchTable()" style="margin-bottom: 20px;">


        <div class="container mt-4" > 
        <h1 th:text="${titulo}" class="section-title"></h1>
       
            <div class="table-responsive custom-table-responsive" style="margin-top: 52px;">
                <table class="table custom-table" border="5px" style="width: 100%; font-size: 20px; text-align: center">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width: 5%">Nombre</th>
                            <th style="width: 15%">Direccion</th>
                            <th style="width: 15%">Fecha de Nacimiento</th>
                            <th style="width: 15%">DNI</th>
                            <th style="width: 15%" >Mail</th>
                            <th style="width: 15%" >Teléfono</th>
                            <th style="width: 15%" >Detalles</th>
                            <th style="width: 5%" >Eliminar</th>
                            <!-- <th style="width: 15%" sec:authorize="hasRole('ROLE_ADMIN')">Teléfono</th>
                            <th style="width: 10%" sec:authorize="hasRole('ROLE_ADMIN')">Estado</th>
                            <th style="width: 10%" sec:authorize="hasRole('ROLE_ADMIN')"></th>
                            <th style="width: 20%" sec:authorize="hasRole('ROLE_USER')">Sacar Turno</th> -->
                        </tr>
                    </thead>

                    <tbody th:each="persona : ${listaPersonas}">
                        <!-- <div id="miElemento" th:attr="data-mi-objeto=${contrato.honorarios}" ></div> -->
                        <tr>
                            <td scope="row">
                                <div class=" capitalizar" style="display: flex; justify-content: center; align-items: center; ">
                                    <p th:text="${persona.nombre + ' ' + persona.apellido}"></p>
                                </div> 
                            </td>

                            <td scope="row">
                                <div class=" capitalizar" style="display: flex; justify-content: center; align-items: center; ">
                                    <p th:text="${persona.domicilio.calle + ' ' + persona.domicilio.numero}"></p>
                                </div> 
                            </td>

                            <td scope="row">
                                <div class="container capitalizar">
                                    <p th:text="${persona.fechaNac}"></p>
                                </div>
                            </td>

                            <td>
                                <div class="container capitalizar">
                                    <p th:text="${persona.dni}"></p>
                                </div>
                            </td>

                            

                            <td scope="row">
                                <div class="container">
                                    <p class="cuotaActual" th:text="${persona.email}"></p>
                                </div>
                            </td>

                            <td scope="row" >
                                <div  class="container">
                                    <p class="fechaTabla" th:text="${persona.telefono}"></p>
                                </div>
                            </td>

                            <td scope="row" >
                                <div class="d-flex justify-content-center align-items-center " >
                                    <a th:href="@{/persona/__${persona.idPersona}__/__${tipoPersona}__}" >Ver más</a>
                                </div>
                            </td>

                            <td scope="row">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a th:href="@{/__${tipoPersona}__/eliminar/__${persona.idPersona}__}" 
                                       onclick="return confirm('¿Estás seguro de que deseas eliminar este registro de la base de datos?');">Borrar</a>
                                </div>
                            </td>
                            

                            

                            <!-- <th scope="row" sec:authorize="hasRole('ROLE_ADMIN')">
                                <div class="container">
                                    <h5 th:text="${profesional.telefono}"></h5>
                                </div>
                            </th>

                            <td sec:authorize="hasRole('ROLE_ADMIN')">
                                <div>
                                    <a th:if="${profesional.alta == true}"
                                       type="button"
                                       class="btn btn-success"
                                       th:href="@{/admin/estado/__${profesional.idPersona}__}"
                                       >Activo</a>
                                    <a th:if="${profesional.alta == false}"
                                       type="button"
                                       class="btn btn-danger"
                                       th:href="@{/admin/estado/__${profesional.idPersona}__}"
                                       >Inactivo</a>
                                </div>
                            </td>

                            <td sec:authorize="hasRole('ROLE_ADMIN')">
                                <div>
                                    <a 
                                        type="button"
                                        class="btn btn-danger"
                                        th:href="@{/admin/eliminarProfesional/__${profesional.idPersona}__}"
                                        >Eliminar</a>
                                </div>
                            </td>

                            <td sec:authorize="hasRole('ROLE_USER')">
                                <div>
                                    <a
                                        type="submit"
                                        class="btn btn-success"
                                        th:value="@{profesional.idPersona}"
                                        th:href ="@{/paciente/sacarTurno/__${profesional.idPersona}__}"
                                        >Abrir</a>
                                </div>
                            </td> -->
                        </tr>
                    </tbody>
                </table>             
            </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script src="/contratosScript.js"></script>
        </div> 

</body>

</html>